@charset "ISO-8859-1";

body{
	background: #1c232e;	
}
.home-content{
	min-height: 100%;

}

.home-title > h1{
	color: #fff;
	margin-top: 20px;
}

.item a{
	color:#fff;
	background-color:#cdb380;
	text-decoration:none;
	padding:8px;
	border-radius:6px;
}

.item{
	margin: 100px 0 100px 0;
	background: #fff;
	height: content-fit;
	padding: 100px 20px 100px 20px;
	border-radius: 25px;
	box-shadow: 4px 3px 10px 0.5px #fff;
	background-color:#036564;
	color:#fff;
	
}
